benchmark_data/*
benchmark_data/*/*
sample_data/*
sample_data/*/*
bin/*
scripts/*
*/__pycache__/
.ipynb_checkpoints/*
*-checkpoint.ipynb
output/*
output.h5ad
.nextflow.log
.nextflow/*
__pycache__/*
target/*
work/*
submission.zip